<%= form_for(@test_result) do |f| %>
  <% if @test_result.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@test_result.errors.count, "error") %> prohibited this test_result from being saved:</h2>

      <ul>
      <% @test_result.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :execution_id %><br>
    <%= f.select :execution_id, force_executions_list %>
  </div>
  <div class="field">
    <%= f.label :result %><br>
    <%= f.select :result,result_types_list %>
  </div>
  <div class="field">
    <%= f.label :is_triaged %><br>
    <%= f.check_box :is_triaged,:checked_value=>true, :unchecked_value=>false, :checked => true  %>
  </div>
  <div class="field">
    <%= f.label :triaged_by %><br>
    <%= f.select :triaged_by, force_users_list %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
