<h1>Listing diagnostic_logs</h1>

<table>
  <thead>
    <tr>
      <th>Create time</th>
      <th>Component</th>
      <th>Log type</th>
      <th>Message</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @diagnostic_logs.each do |diagnostic_log| %>
      <tr>
        <td><%= diagnostic_log.create_time %></td>
        <td><%= diagnostic_log.component %></td>
        <td><%= diagnostic_log.log_type %></td>
        <td><%= diagnostic_log.message %></td>
        <td><%= link_to 'Show', diagnostic_log %></td>
        <td><%= link_to 'Edit', edit_diagnostic_log_path(diagnostic_log) %></td>
        <td><%= link_to 'Destroy', diagnostic_log, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Diagnostic log', new_diagnostic_log_path %>
